 

 <nav class="dad-navbar">
    <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
          <a class="navbar-brand" href="/">SkateSponsor.com</a>
  </div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
  
  <%= form_for @user ,html: {class: "form-inline"}, url: create_session_path do |f| %>
      <div class="form-group">
        <label class="sr-only" for="email">Email address</label>
        <input name = "user_email" type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label class="sr-only" for="password">Password</label>
        <input name="user_password" type="password" class="form-control" id="password" placeholder="Password">
      </div>
        <%= f.submit "Log In", class: "submit-button-create" %>
  <% end %>
</div>
</ul>
</nav>


<!-- <div class="jumbotron"><h3>SponsorDad</h3></div> -->
<div class = "user_account_container">

<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
            <li><%= message %>
            </li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @user, url: create_user_path do |f| %>

    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", placeholder: "full name..."%>
    </div>

    <div class="form-group">
        <%= f.label :age %>
        <%= f.text_field :age, class: "form-control"%>
    </div>

    <div class="form-group">
        <%= f.label :location %>
        <%= f.text_field :location, class: "form-control", placeholder: "zipcode..."%>
    </div>
    
    <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
    <br>
        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <div class="field">
        <%= f.label "Account Type" %>
        <small>  (select one of the following)</small>
    <br>
        <%= f.radio_button :account_type, false, :checked => true  %>
        <%= f.label :account_type, "Skate Account", :value => "Skateboarder"  %>
    <br>
        <%= f.radio_button :account_type, true %>
        <%= f.label :account_type, "Business Account", :value => "Business Account" %>
    </div>

        <%= f.submit "Register", class: "submit-button-create" %>
<% end %>
    
    <hr>
</div>
