
<script type="text/javascript">
$('.attachinary-input').attachinary();
    
</script>

<div class = "create_post">
<% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
        <% @event.errors.full_messages.each do |message| %>
            <li><%= message %>
            </li>
        <% end %>
      </ul>
    </div>
<% end %>

<p>Create New Event</p>

<%= form_tag(@event, :method => :post) do  %>
    <%= cl_image_upload_tag(:image_file_name) %>
<% end %>

        
<%= form_for @event, :method => :post, :html => { :multipart => true }  do |f| %>
    


    <div class="form-group">
    <%= f.label 'Title' %>
    <%= f.text_field :title, class: "form-control"%>
    </div>

    <div class="form-group">
    <%= f.label 'Date' %>
    <%= f.text_field :date, class: "form-control"%>
    </div>
    
    <div class="form-group">
    <%= f.label 'Event Info' %>
    <%= f.text_field :info, class: "form-control" %>
    </div>

    <div class="form-group">
    <%= f.label 'Address (City, State)' %>
    <%= f.text_field :address, class: "form-control", placeholder: "eg.(Whittier, CA)" %>
    </div>

    <%= f.submit "Event", class: "submit-button-create", id: "submit_event" %>

<% end %>
</div>
