<!-- original photo of kevin on home page check css before destrouying -->
<!-- <div class="homepage_container">
<img id="home_photo" alt="Icon" src="https://static1.squarespace.com/static/53694a6de4b0e9a5f9b52a44/5369640ae4b0849f186ecd86/53696491e4b052b073e41381/1433346064504/Kevin+Switch+ollie+web-111.jpg?format=2500w" /> -->
<!-- <img id="home_photo" alt="Icon" src="/assets/isaac.jpg" />
<div> -->

<div class="feed_container">
<div class="left_column">
<h2>Welcome to the Footy app</h2>
	<div class="home_info">
		
		
		<ul class="text_list">
		<h3>How it works...</h3>
			<li>
				<p>#1. Have fun and go skateboarding everyday!</p>
			</li>
			<li>
				<p>#2. Create a single or several "Sponsor me videos" of your best skating.</p>
			</li>
			<li>
				<p>#3. Upload your video to YouTube and place ad with your footy on our skateboard classfields. </p>
			</li>
			<li>
				<p>#4. Instantly share your footy with companies, friends, and family all around the world... for FREE!</p>
			</li>

		</ul>
	</div>

<!-- the start of the popular feed on home page -->
	<% if @posts.count > 0 %>
    <% @posts.each do |post| %>
      
    <div class="map_feed_post">
                        
         <div class = "post-photo-tag">
              <%=image_tag("https://ze-media.tn/wp-content/uploads/2014/12/facebook-mbarek-boukhari-zemedia.jpg", :width => 21, :height => 21, :crop => :fill, class: "user-post-photo_tag") %><%= "  " %><%= link_to post.user.name, user_profile_path(post.user_id), :class => "post-photo-tag" %>
         </div>              
          
         <div class="embed-responsive embed-responsive-16by9"><%= embed(post.youtube_url) %>
         </div>



        <h4><%= link_to post.title, post_path(id: post.id), :class => "title-link" %></h4>
          
        <div class = "artist-link"><%= post.body %>
      
          </div>

                   

                
                <hr class = "line-break">

                    
                
                
            <div class = "comments-tag-on-feed">
               <% if current_user
                    add = "/Add"
                else
                    add = ""
                end %>

                <%= post.address%>
            </div>

            <div class= "time-ago-tag"><span class="glyphicon glyphicon-time" aria-hidden="false"></span><%= "  " + (remove_unwanted_words distance_of_time_in_words(Time.now, post.updated_at)) + " ago"  %>
            </div>
        
        </div>
        
    <% end %>
    </div>
</div>    
<% else %>
    <h2>No Posts Exist</h2>
<% end %>

</div>

<!-- begining of the right side column on the home page -->
<div class="right_column">
<!-- this is the "sign in or sign up forum" -->
	<ul id="topright_nav">
	

	<li>
	    <!--<%=image_tag("http://ze-media.tn/wp-content/uploads/2014/12/facebook-mbarek-boukhari-zemedia.jpg", :width => 40, :height => 40, :crop => :fill, class: "user_profile_photo_tag") %>-->
		    <small>Hello, </small>
		      
		      <a><%= link_to "#{current_user.name}", user_profile_path(current_user) %>
		      </a>
			  <span class="glyphicon glyphicon-cog" aria-hidden="true">
			  </span>
	      
	      <ul> 
	        <li>
	             <a><%= link_to "Your Profile", user_profile_path(current_user)%>
	             </a>
	        </li> 
	        <li>
	            <a><%= link_to "Edit Account", edit_users_path(current_user) %>
	            </a>
	        </li>  
	        <li>
	            <a><%= link_to "Log out", destroy_session_path %>
	            </a>
	        </li>  
	      </ul>
	    </li>
	</ul>

<!-- this is the start of the posts on right column -->
<% if @posts.count > 0 %>
    <% @posts.each do |post| %>
    <div class="right_column_post">
                        
         <div class = "post-photo-tag">
              <%=image_tag("https://ze-media.tn/wp-content/uploads/2014/12/facebook-mbarek-boukhari-zemedia.jpg", :width => 21, :height => 21, :crop => :fill, class: "user-post-photo_tag") %><%= "  " %><%= link_to post.user.name, user_profile_path(post.user_id), :class => "post-photo-tag" %>
         </div>              
          
         <div class="embed-responsive embed-responsive-16by9"><%= embed(post.youtube_url) %>
         </div>



        <h4><%= link_to post.title, post_path(id: post.id), :class => "title-link" %></h4>
          
        <div class = "artist-link"><%= post.body %>
      
          </div>

                   

                
                <hr class = "line-break">

                    
                
                
            <div class = "comments-tag-on-feed">
               <% if current_user
                    add = "/Add"
                else
                    add = ""
                end %>

                <%= post.address%>
            </div>

            <div class= "time-ago-tag"><span class="glyphicon glyphicon-time" aria-hidden="false"></span><%= "  " + (remove_unwanted_words distance_of_time_in_words(Time.now, post.updated_at)) + " ago"  %>
            </div>
        
        </div>
        
    <% end %>
    </div>
</div>    
<% else %>
    <h2>No Posts Exist</h2>
<% end %>


