<br>
<ul id="topright_nav">
<li>
    <%=image_tag("http://ze-media.tn/wp-content/uploads/2014/12/facebook-mbarek-boukhari-zemedia.jpg", :width => 40, :height => 40, :crop => :fill, class: "user_profile_photo_tag") %>
    <small>Hello, </small>
      <a><%= link_to "#{current_user.name.split.first}", user_profile_path(current_user) %>
      </a>
    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      
      <ul> 
        <li>
             <a><%= link_to "Your Events", new_user_path %>
             </a>
        </li> 
        <li>
            <a><%= link_to "Edit Account", edit_users_path(current_user) %>
            </a>
        </li>  
        <li>
            <a><%= link_to "Log out", destroy_session_path %>
            </a>
        </li>  
      </ul>
    </li>
</ul>
<div class = "form_create">
<div class = "create_post">
<p>Create New Post</p>
<% flash.each do |key, value| %>
    <h4><%= value %></h4>
<% end %>


<%= form_for(@post) do |f| %>

    <div class="form-group">
    <%= f.label 'Title' %>
    <%= f.text_field :title, class: "form-control"%>
    </div>

    <div class="form-group">
    <%= f.label 'Caption' %>
    <%= f.text_field :body, class: "form-control"%>
    </div>

    <div class="form-group">
    <%= f.label 'Paste YouTube Url' %>
    <%= f.url_field :youtube_url, class: "form-control" %>
    </div>
    

    <div class="form-group">
    <%= f.label 'Address (City, State)' %>
    <%= f.text_field :address, class: "form-control", placeholder: "eg.(Whittier, CA)" %>
    </div>

    <%= f.submit "Post", class: "submit-button-create" %>

<% end %>

</div>

<div class = "create_post">
<p>Create New Event</p>

<%= form_for(@event) do |f| %>

    <div class="form-group">
    <%= f.label 'Title' %>
    <%= f.text_field :title, class: "form-control"%>
    </div>

    <div class="form-group">
    <%= f.label 'Date' %>
    <%= f.text_field :date, class: "form-control"%>
    </div>
    
    <div class="form-group">
    <%= f.label 'Event Info' %>
    <%= f.text_field :info, class: "form-control" %>
    </div>

    <div class="form-group">
    <%= f.label 'Address (City, State)' %>
    <%= f.text_field :address, class: "form-control", placeholder: "eg.(Whittier, CA)" %>
    </div>

    <%= f.submit "Event", class: "submit-button-create", id: "submit_event" %>

<% end %>
</div>
</div>
<br>
<br>