<br>
<div class = "form_create">
<div class = "create_post">
<p>Create New Post</p>
<% flash.each do |key, value| %>
    <h4><%= value %></h4>
<% end %>


<%= form_for(@post) do |f| %>

    <div class="form-group">
    <%= f.label 'Title' %>
    <%= f.text_field :title, class: "form-control"%>
    </div>

    <div class="form-group">
    <%= f.label 'Caption' %>
    <%= f.text_field :body, class: "form-control"%>
    </div>

    <div class="form-group">
    <%= f.label 'Paste YouTube Url' %>
    <%= f.url_field :youtube_url, class: "form-control" %>
    </div>
    
    <div class="form-group">
    <%= f.label 'Or Paste Image Url' %>
    <%= f.url_field :image_url, class: "form-control" %>
    </div>

    <div class="form-group">
    <%= f.label 'Address (City, State)' %>
    <%= f.text_field :address, class: "form-control", placeholder: "eg.(Whittier, CA)" %>
    </div>

    <%= f.submit "Post", class: "submit-button-create" %>

<% end %>

</div>

<div class = "create_post">
<p>Create New Event</p>

<%= form_for(@event) do |f| %>

    <div class="form-group">
    <%= f.label 'Title' %>
    <%= f.text_field :title, class: "form-control"%>
    </div>

    <div class="form-group">
    <%= f.label 'Date' %>
    <%= f.text_field :date, class: "form-control"%>
    </div>
    
    <div class="form-group">
    <%= f.label 'Event Info' %>
    <%= f.text_field :info, class: "form-control" %>
    </div>

    <div class="form-group">
    <%= f.label 'Address (City, State)' %>
    <%= f.text_field :address, class: "form-control", placeholder: "eg.(Whittier, CA)" %>
    </div>

    <%= f.submit "Event", class: "submit-button-create", id: "submit_event" %>

<% end %>
</div>
</div>
<br>
<br>