<!DOCTYPE html>
<html>
<head>
  <title>FOOTY™</title>
 <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link href='https://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script> -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9fLUHE8EU1Fyodf93hd4qPY1PsJ2rYIs"
  type="text/javascript"></script>


  


</head>
<body class="container-fluid" >
 




<div>
  <%= image_tag ("FOOTY_logo_2.png"), :class => "footy_logo_img"%> 
</div>

<nav>
  
  <ul id = "my_new_nav">

    <li>
      <div class = "tab" id = "pink"><a href="/posts">HOME</a></div>
        <div class = "dropdown_nav"><a id = "pink" href="/posts">HOME</a>
      </div>
    </li> 
    
    <li>
       <div class = "tab" id = "orange"><a href="/users/map">CLASSIFIEDS</a>
       </div>
        <div class = "dropdown_nav">
          <a id = "orange" href="/users/map">CLASSIFIEDS</a>
        </div>
    </li>
    
    <li>
      <div class = "tab" id = "blue" href="#"><a href="/users/map">COMPANIES</a></div>
        <div class = "dropdown_nav">
          <a id = "blue" href="/users/map">COMPANIES</a>
       </div> 
    </li>
    
    
    <li>
       <div class = "tab" id = "purple" href="#"><a href="/events">MAP</a></div>
       </div>
        <div class = "dropdown_nav">
          <a id = "purple" href="/events">MAP</a>
        </div>
    </li>
    
    <li>
       <div class = "tab" id = "green" href="#"><a href="#">ABOUT</a></div>  
          <div class = "dropdown_nav">
            <a id = "green" href="#">ABOUT</a>
          </div>

    </li>

  </ul>
</nav>
<br class = "clear">


<%= yield %>

</body>
</html>