<!DOCTYPE html>
<html>
<head>
  <title>FOOTY™</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link href='https://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
</head>
<body class="container-fluid" >
 

<%if @current_user %>
<ul id="topright_nav">
<li>
    <%=image_tag("http://ze-media.tn/wp-content/uploads/2014/12/facebook-mbarek-boukhari-zemedia.jpg", :width => 40, :height => 40, :crop => :fill, class: "user_profile_photo_tag") %>
    <small>Hello, </small>
      <a><%= link_to "#{current_user.name.split.first}", user_profile_path(current_user) %>
      </a>
    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      
      <ul> 
        <li>
             <a><%= link_to "Your Events", new_user_path %>
             </a>
        </li> 
        <li>
            <a><%= link_to "Edit Account", edit_users_path(current_user) %>
            </a>
        </li>  
        <li>
            <a><%= link_to "Log out", destroy_session_path %>
            </a>
        </li>  
      </ul>
    </li>
</ul>


<div>
  <%= image_tag ("FOOTY_logo_2.png"), :class => "footy_logo_img"%> 
</div>

<nav>
  
  <ul id = "my_new_nav">

    <li>
      <div class = "tab" id = "pink" href="#"><br></div>
        <div class = "dropdown_nav">
         <div><a id = "pink" href="#">HOME</a>
         </div>
      </div>
    </li> 
    
    <li>
      <div class = "tab" id = "blue" href="#"><br></div>
        <div class = "dropdown_nav">
          <div><a id = "blue" href="#">MAP</a>
          </div>
       </div> 
    </li>
    
    <li>
       <div class = "tab" id = "orange" href="#"><br></div>
       </div>
        <div class = "dropdown_nav">
          <div><a id = "orange" href="#">ABOUT</a>
          </div>
        </div>
    </li>
    
    <li>
       <div class = "tab" id = "purple" href="#"><br></div>
       </div>
        <div class = "dropdown_nav">
          <div><a id = "purple" href="#">EVENTS</a>

          </div>
        </div>
    </li>
    
    <li>
       <div class = "tab" id = "green" href="#"><br></div>  
          <div class = "dropdown_nav">
            <div><a id = "green" href="#">CONTACT</a>

            </div>
          </div>
    </li>

  </ul>
</nav>
<br class = "clear">
<% else %>   
<% end %>
<%= yield %>

</body>
</html>